

form{
    margin:auto;
    background-color: darkgray;
    height:auto;
    text-align: center;
}

h1{
    background-color: cadetblue;
    text-align: center;
}

button{
    background-color: limegreen;
    font-size: 20px;
    margin: 10px;
    margin-left: 70px;
    
}

.textfields{
    margin:10px;
}

#email_label{
    margin-left: 20px;
}

a{
    text-decoration: none;
}

input[type]{
    margin:10px 10px;
}






@media (min-width:670px){
    form{
        width: 40%;
        
    }
    
}